/*******Defaults********/
nav,
header,
footer{
    display: block;
}

body{
    line-height: 1;
    margin: 1;
}

label{
    font-size: 26px;
    font-weight: bold;
}

p{
    font-size: 20px;
    line-height: 1.2;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    box-sizing: border-box;
}

/**********navbar**********/

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

nav.topnav{
    margin: 5;
    padding: 5;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    text-decoration: none;
    display: block;
    min-height: 16px;
    text-align: center;
    padding: 3px 10px;
    font-size: 20px;
}

ul.topnav li a:hover{
    background-color: rgb(29, 137, 204);
    color: white;
}

ul.topnav li.dropdownicon{
    display: none;
}

.leftside-col{
    margin-left: 20%;
}

.rightside-col{
    margin-left: 15%;
}

h1.section2-header{
    font-size: 40px;
    text-align: center;
}


/******* Custom Styles ********/

#section-1-gradient{
    background: rgb(62,88,231);
background: linear-gradient(0deg, rgba(62,88,231,1) 0%, rgba(95,210,209,1) 100%);
}

h1.large{
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2{
    color: white;

}

input[type="text"]{
    width: 400px;
    font-size: 16px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

.video-container iframe{
    margin-top: 30px;
}

div.box{
    -webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.66);
    box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.66);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
}
.logo{
    width: 100%;
}
.logo img{
    width: 100px;
    height: 100px;
}

button{
    background-color: rgb(62,88,231);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 15px 25px;
    margin: 5px;
    display: block;
    border-radius: 7px;
}

button.learn-more{
    display: block;
    margin: auto;
}

article{
    padding: 20px;
    margin: 10px;
}

div.slopeicon img{
    margin: auto;
    display: block;
    width: 312px;
    height: 177px;
    box-shadow: -2px/*H*/ -2px/*V*/ 5px/*B*/ 3px/*S*/,
    2px 2px 3px 1px;
    /*Horizontal, Vertical, Blur, Spread*/
}

footer.footsy{
    background-color: grey;
    padding-left: 10%;
}

footer.footsy h1{
    color: white;
    font-size: 26px;
}

footer.footsy ul{
    list-style: none;
    padding-left: 0px;
}

footer.footsy ul li{
    color: white;
    font-size: 18px;
    line-height: 1.5;
}

div.copyright{
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    background-color: grey;
}


/********* MOBILE ***********/

@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }

    ul.topnav li.dropdownicon{
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownicon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    .col-6,
    .col-4,
    .col-7,
    .col-5{
        width: 100%;
        margin: 0px;
    }

    div.box{
        margin: 10px;
        display: block;
    }

    .leftside-col,
    .rightside-col{
        margin-left: 20px;
    }

    .video-container iframe{
        position: relative;
        margin-top: 30px;
    }

    div.mobile-stack{
        width: 50%;
        display: block;
    }
}